/* Stying for Menu page: Grid 1 columns 3 row layout */


body {
    background-color: rgb(207, 211, 211);
    padding:0;
    margin:0;
    display:grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
    'header'
    'main'
    'footer';

}


header {
    grid-area: header;
    background-color:rgb(41, 40, 40);
    width:100%;
    color: whitesmoke;
}

#nav-bar ul {
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-bottom: 50px;
    color: rgb(207, 211, 211);
}

a:link  {
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:10px;
    text-decoration: none;
    color: rgb(207, 211, 211);
}

a:visited  {
   
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:10px;
    text-decoration: none;
    color: rgb(207, 211, 211);
}


a:hover {

    text-decoration:underline;
    color:green;
}

#menu-title {
    text-align:center;
}


main {
    grid-area: main;
}

#table-menu {
    background-color: rgb(215, 178, 126);
    margin:0 auto;
    margin-top:70px;
    transform: scale(2);
}
    
td:hover {
    text-decoration: underline;
}

th:hover {
    text-decoration: underline;
}

footer {
    grid-area: footer;
    background-color:rgb(41, 40, 40);
    color: whitesmoke;
}

@media screen and (max-width: 750px) {
    body {
        display: grid; 
        grid-template-rows: repeat(autofit,minmax(100px,1fr));
        grid-template-columns: 100%;
        gap: 5px;
        width: 95%;
    }
}
